# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS Code
.vscode

# Archives (submmitted to course.pku.edu.cn)
*.zip
*.7z

# Temporary File
temp.*
temp/
# TXT File in Root folder, used for I/O
/*.txt